.issue-component-search{
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
  
    margin: 20px 4vw;
}
.issue-component-search-input{
    all: unset;
    width: 100%;
    padding: 7px;
    
}
.search-icon{
    width: 20px;
    padding: 10px 20px;
}
.repo-name{
    padding: 2vw 0 0 5vw;
    font-size: 1.3rem;
}
.next-page{
   display: flex;
    font-size: 1.3rem;
    padding: 3vw 30vw;
    font-weight: bolder;
}
.page-num{
    margin-left: 1.5vw;
    cursor: pointer;
    padding: 2px 7px;
    color: #FFF;
    background-color: rgb(49, 92, 222);
    border-radius: 5px;
}