
#nav-container{
  padding-bottom: 60px;
}
  nav{
    background: var(--navfootercolor);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
        
  }

  label.logo{
    color: #fff;
    font-size: 1.6rem;
    line-height: 60px;
    padding: 0 30px;
    cursor: pointer;
  }
  
  