
  nav{
    background: var(--navfootercolor);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
        
  }

  label.logo{
    color: #fff;
    font-size: 1.6rem;
    line-height: 60px;
    padding: 0 20px;
    cursor: pointer;
  }
  
  